@model IEnumerable<WebApplication1.Models.FTSetup>

@{
    ViewBag.Title = "Index4";
}

<h2>Index4</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PKName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TesterType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestBord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DutName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestProgram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production_LotNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production_LotDevice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production_DelayLot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PKName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TesterType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestBord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DutName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestProgram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production_LotNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production_LotDevice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production_DelayLot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
