@model IEnumerable<WebApplication1.Models.FTSetup>

@{
    ViewBag.Title = "FT Scheduler";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/Chart.js"></script>
<style>
    table tr:not([class="OfflineStep"]):not([class="FurtherStep"]):hover td,
    table tr:not([class="OfflineStep"]):not([class="FurtherStep"]):hover td a {
        color: white;
        font: bold;
        background-color: lightblue !important; /**/
    }

    .col-md-1 {
        margin-top: 10px;
    }

    a.my-class {
        color: black
    }

    .td {
        text-align: center;
        color: red;
    }

    .H2 {
        font-family: 'Kanit', sans-serif;
        color: goldenrod;
    }

    .A1 {
        color: #FFA500;
        font: bold;
    }

    .A2 {
        color: #FF1493;
        font: bold;
    }

    .A3 {
        color: #DC143C;
        font: bold;
    }

    .A4 {
        color: #9400D3;
        font: bold;
    }

    .A5 {
        color: #FFA500;
        font: bold;
    }

    .A6 {
        color: #B8860B;
        font: bold;
    }

    .A7 {
        color: #008000;
        font: bold;
    }

    .A8 {
        color: #1E90FF;
        font: bold;
    }
</style>
<div class="container-fluid">
    <h1>FT SCHEDULER</h1>

    <div class="row">
        <div class="col-md-8">
            <table id="iTable" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8dcffd;" rowspan="2">PKG</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8dcffd;" rowspan="2">MC_No.</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8dcffd;" rowspan="2">Tester</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Board</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Program</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Temp.(°C)</th>
                        @*<th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">DUT</th>*@
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Flow</th>
                        @*<th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" colspan="2">Option</th>*@
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8e84ce;" rowspan="2">Status</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="2">Production</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">2nd Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">3rd Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">4th Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">5th Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" rowspan="2">More Lot</th>
                    </tr>
                    <tr>
                        @*<th class=" text-center" style="font-size : 20px; vertical-align : middle; background-color :#FFBE7D;">➀</th>
                            <th class=" text-center" style="font-size : 20px; vertical-align : middle; background-color :#FFBE7D;">➁</th>*@
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">END</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        @*<th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                            <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                            <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                            <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                            <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<WebApplication1.Models.FTSetup>)ViewBag.ftSetup)
                    {
                        <tr style="height :30px">
                            <td class="text-center PKName" style="vertical-align : middle; width : 120px;">
                                <span>@Html.DisplayFor(modelItem => item.PKName)</span>
                            </td>
                            <td class="text-center MCNo" style="vertical-align : middle; width : 120px;">
                                @Html.DisplayFor(modelItem => item.MCNo)
                            </td>
                            <td class="text-center" style="vertical-align : middle; width : 125px;">
                                @Html.DisplayFor(modelItem => item.TesterType)
                            </td>
                            <td class="text-center" style="font-size:10px; vertical-align : middle; width : 25px;">
                                @Html.DisplayFor(modelItem => item.TestBord)
                            </td>
                            <td class="text-center" style="font-size : 10px; vertical-align : middle; width : 25px;">
                                @Html.DisplayFor(modelItem => item.TestProgram)
                            </td>
                            @*<td class="text-center" style=" font-size:smaller; vertical-align : middle; width : 20px;">
                                    @Html.DisplayFor(modelItem => item.DutName)
                                </td>*@
                            @switch (item.Flow)
                            {
                                case "AUTO1":
                                    <td class=" text-center" style="font-size:smaller; color : cadetblue; font : bold; vertical-align : middle; width : 25px;">
                                        -40
                                    </td>
                                    break;
                                case "AUTO2":
                                    <td class=" text-center" style="font-size:smaller; color : orangered; font : bold; vertical-align : middle; width : 25px;">
                                        125
                                    </td>
                                    break;
                                case "AUTO3":
                                    <td class=" text-center " style="font-size:smaller;vertical-align : middle; width : 25px;">
                                        25
                                    </td>
                                    break;
                                case "AUTO4":

                                    <td class=" text-center" style="font-size:smaller; color : orangered; font : bold; vertical-align : middle; width : 25px;">
                                        125
                                    </td>
                                    break;
                                default:
                                    <td></td>
                                    break;
                            }

                            <td class="text-center" style="font-size:smaller; vertical-align : middle; width : 25px;">
                                @Html.DisplayFor(modelItem => item.Flow)
                            </td>
                            @*<td class=" text-center" style="font-size : smaller; vertical-align : middle; width : 10px;">
                                    @Html.DisplayFor(modelItem => item.Option1)
                                </td>
                                <td class=" text-center" style="font-size : smaller; vertical-align : middle; width : 10px;">
                                    @Html.DisplayFor(modelItem => item.Option2)
                                </td>*@
                            @switch (item.Status)
                            {
                                case WebApplication1.Models.FTSetup.State.Wait:
                                    <td class=" text-center" style="background-color : yellow; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                case WebApplication1.Models.FTSetup.State.Run:
                                    <td class=" text-center" style="background-color : aquamarine ; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                case WebApplication1.Models.FTSetup.State.Ready:
                                    <td class=" text-center" style="background-color : aquamarine ; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                case WebApplication1.Models.FTSetup.State.Setup:
                                    <td class=" text-center" style="background-color : #009000; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                default:
                                    <td rowspan="2"></td>
                                    break;
                            }
                            @if (item.Production_DelayLot == "0")
                            {
                                <td class="text-center" style="font-size:smaller; vertical-align : middle; width : 80px;">@Html.DisplayFor(modelItem => item.Production_LotNo)<br /><p class="@Html.DisplayFor(modelItem => item.Mc_Color)" style="font-size:10px;">@Html.DisplayFor(modelItem => item.Production_LotDevice)</p></td>
                            }
                            else
                            {
                                <td class="text-center" style="background-color : mediumpurple; font-size:smaller; vertical-align : middle; width : 80px;">@Html.DisplayFor(modelItem => item.Production_LotNo)<br /><p class="@Html.DisplayFor(modelItem => item.Mc_Color)" style="font-size:10px;">@Html.DisplayFor(modelItem => item.Production_LotDevice)</p></td>
                            }
                            @if (DateTime.Now > item.Production_Date)
                            {
                                <td class="text-center" style="color : red; font-size:smaller;font : bold; vertical-align : middle; width : 50px;">
                                    @Html.DisplayFor(modelItem => item.Production_Date)<br />
                                    @Html.DisplayFor(modelItem => item.Production_Time)
                                </td>
                            }
                            else
                            {
                                <td class="text-center" style="font-size:smaller; vertical-align : middle; width : 50px;">
                                    @Html.DisplayFor(modelItem => item.Production_Date)<br />
                                    @Html.DisplayFor(modelItem => item.Production_Time)
                                </td>
                            }
                            @for (int i = 0; i < 4; i++)
                            {
                        <td class="text-center DeviceName1" style="font-size:smaller; vertical-align : middle; width : 80px;">

                            @if (item.LotQueue[i].Lot_no != "")
                            {
                                @*@Html.ActionLink(item.LotQueue[i].Lot_no, "", new { id = "Qclick", MCNo = item.MCNo, sq = i + 2, Device = item.DeviceName }, new { @class = "my-class" })*@
                                @Html.ActionLink(item.LotQueue[i].Lot_no, "", null, new { id = "Qclick", MCNo = item.MCNo, sq = i + 2, Device = item.DeviceName }, 
                               new { @class = "my-class",data_toggle = "modal", data_target = "#exampleModal" })
                                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="mdo">Open</button>*@
                            }

                            <p class="@Html.DisplayFor(modelItem => item.LotQueue[i].S_Color)" style="font-size:10px;">

                                @Html.DisplayFor(modelItem => item.LotQueue[i].DeviceName)
                            </p>

                            @*<input type="text" class="form-control" style="display:none; width : 80px; font-size : smaller;" />*@
                            @*@Html.ActionLink(item.LotQueue[i], "", new { })*@
                        </td>
                            }


                            <td class="text-center" style="font:bold ; vertical-align : middle;">
                                @*@if (item.OverPlan != 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.OverPlan)
                                    }*@
                                @*<i class="Edit" style="color:black;"><a href="javascript:;"></a>Edit</i> @*//btn btn-info  btn-sm*@
                                @*<a class="Update" href="javascript:;" style="display:none">Update</a>
                                    <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>*@
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4" style="vertical-align :central;">
            <div id="container"></div>
            <div>
                <table id="WIPTable" class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" style=" vertical-align : middle; width : 120px;">PKG</th>
                            <th class="text-center" style=" vertical-align : middle; width : 200px; background-color : #ABF6E8;">Device</th>
                            <th class="text-center" style=" vertical-align : middle; width : 100px; background-color : #BAF6AB;">A1<p>48.6H</p></th>
                            <th class="text-center" style=" vertical-align : middle; width : 100px; background-color : #BAF6AB;">A2<p>48.6H</p></th>
                            <th class="text-center" style=" vertical-align : middle; width : 100px; background-color : #BAF6AB;">A3<p>48.6H</p></th>
                            <th class="text-center" style=" vertical-align : middle; width : 100px; background-color : #BAF6AB;">A4<p>64.8H</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (List<WebApplication1.Models.FTDenpyo_Calculate>)ViewBag.fff)
                        {

                            <tr class="text-center">
                                <td style="vertical-align : middle;">@item.PKGName</td>
                                <td style="vertical-align : middle;">@item.DeviceName</td>
                                @if (@item.A1_Calculate == 0)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td style="font-size:smaller; vertical-align : middle; color : blue">@item.A1_Calculate.ToString("0.00") H<p style=" color : black">@item.A1_Lot Lot.</p></td>
                                }
                                @if (@item.A2_Calculate == 0)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td style="font-size:smaller; vertical-align : middle; color : blue">@item.A2_Calculate.ToString("0.00") H<p style=" color : black">@item.A2_Lot Lot.</p></td>
                                }
                                @if (@item.A3_Calculate == 0)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td style="font-size:smaller; vertical-align : middle; color : blue">@item.A3_Calculate.ToString("0.00") H<p style=" color : black">@item.A3_Lot Lot.</p></td>
                                }
                                @if (@item.A4_Calculate == 0)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td style="font-size:smaller; vertical-align : middle; color : blue">@item.A4_Calculate.ToString("0.00") H<p style=" color : black">@item.A4_Lot Lot.</p></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @*<table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th class="text-center" style=" vertical-align : middle; width : 120px;">Flow</th>
                            <th class="text-center" style=" vertical-align : middle; width : 200px;">DeviceName</th>
                            <th class="text-center" style=" vertical-align : middle; width : 100px;">Quantity</th>
                        </tr>
                        @foreach (var item in (List<WebApplication1.Models.FTWipOutPlan>)ViewBag.lstFTWipOut)
                        {

                            <tr class="text-center">
                                <td>@item.Flow</td>
                                <td>@item.DeviceName</td>
                                <td>@item.Count</td>
                            </tr>
                        }

                    </table>*@
            </div>
            @*<div id="result" style="display:none;"></div>*@

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table id="iTable" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8dcffd;" rowspan="2">PKG</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8dcffd;" rowspan="2">MC_No.</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8dcffd;" rowspan="2">Tester</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Board</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Program</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Temp.(°C)</th>
                        @*<th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">DUT</th>*@
                        <th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" rowspan="2">Flow</th>
                        @*<th class=" text-center" style=" vertical-align : middle; background-color :#FFBE7D;" colspan="2">Option</th>*@
                        <th class=" text-center" style=" vertical-align : middle; background-color :#8e84ce;" rowspan="2">Status</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="2">Production</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">2nd Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">3rd Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">4th Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" colspan="1">5th Lot</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;" rowspan="2">More Lot</th>
                    </tr>
                    <tr>
                        @*<th class=" text-center" style="font-size : 20px; vertical-align : middle; background-color :#FFBE7D;">➀</th>
                    <th class=" text-center" style="font-size : 20px; vertical-align : middle; background-color :#FFBE7D;">➁</th>*@
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">END</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                        @*<th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                    <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                    <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                    <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>
                    <th class=" text-center" style=" vertical-align : middle; background-color :#96d677;">Lot_Card</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<WebApplication1.Models.FTSetup>)ViewBag.ftSetup)
                    {
                        <tr style="height :30px">
                            <td class="text-center PKName" style="vertical-align : middle; width : 120px;">
                                <span>@Html.DisplayFor(modelItem => item.PKName)</span>
                            </td>
                            <td class="text-center MCNo" style="vertical-align : middle; width : 120px;">
                                @Html.DisplayFor(modelItem => item.MCNo)
                            </td>
                            <td class="text-center" style="vertical-align : middle; width : 125px;">
                                @Html.DisplayFor(modelItem => item.TesterType)
                            </td>
                            <td class="text-center" style="font-size:10px; vertical-align : middle; width : 25px;">
                                @Html.DisplayFor(modelItem => item.TestBord)
                            </td>
                            <td class="text-center" style="font-size : 10px; vertical-align : middle; width : 25px;">
                                @Html.DisplayFor(modelItem => item.TestProgram)
                            </td>
                            @*<td class="text-center" style=" font-size:smaller; vertical-align : middle; width : 20px;">
                            @Html.DisplayFor(modelItem => item.DutName)
                        </td>*@
                            @switch (item.Flow)
                            {
                                case "AUTO1":
                                    <td class=" text-center" style="font-size:smaller; color : cadetblue; font : bold; vertical-align : middle; width : 25px;">
                                        -40
                                    </td>
                                    break;
                                case "AUTO2":
                                    <td class=" text-center" style="font-size:smaller; color : orangered; font : bold; vertical-align : middle; width : 25px;">
                                        125
                                    </td>
                                    break;
                                case "AUTO3":
                                    <td class=" text-center " style="font-size:smaller;vertical-align : middle; width : 25px;">
                                        25
                                    </td>
                                    break;
                                case "AUTO4":

                                    <td class=" text-center" style="font-size:smaller; color : orangered; font : bold; vertical-align : middle; width : 25px;">
                                        125
                                    </td>
                                    break;
                                default:
                                    <td></td>
                                    break;
                            }

                            <td class="text-center" style="font-size:smaller; vertical-align : middle; width : 25px;">
                                @Html.DisplayFor(modelItem => item.Flow)
                            </td>
                            @*<td class=" text-center" style="font-size : smaller; vertical-align : middle; width : 10px;">
                            @Html.DisplayFor(modelItem => item.Option1)
                        </td>
                        <td class=" text-center" style="font-size : smaller; vertical-align : middle; width : 10px;">
                            @Html.DisplayFor(modelItem => item.Option2)
                        </td>*@
                            @switch (item.Status)
                            {
                                case WebApplication1.Models.FTSetup.State.Wait:
                                    <td class=" text-center" style="background-color : yellow; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                case WebApplication1.Models.FTSetup.State.Run:
                                    <td class=" text-center" style="background-color : aquamarine ; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                case WebApplication1.Models.FTSetup.State.Ready:
                                    <td class=" text-center" style="background-color : aquamarine ; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                case WebApplication1.Models.FTSetup.State.Setup:
                                    <td class=" text-center" style="background-color : #009000; color: black; font : bold; vertical-align : middle; width : 15px;">
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    break;
                                default:
                                    <td rowspan="2"></td>
                                    break;
                            }
                            @if (item.Production_DelayLot == "0")
                            {
                                <td class="text-center" style="font-size:smaller; vertical-align : middle; width : 80px;">@Html.DisplayFor(modelItem => item.Production_LotNo)<br /><p class="@Html.DisplayFor(modelItem => item.Mc_Color)" style="font-size:10px;">@Html.DisplayFor(modelItem => item.Production_LotDevice)</p></td>
                            }
                            else
                            {
                                <td class="text-center" style="background-color : mediumpurple; font-size:smaller; vertical-align : middle; width : 80px;">@Html.DisplayFor(modelItem => item.Production_LotNo)<br /><p class="@Html.DisplayFor(modelItem => item.Mc_Color)" style="font-size:10px;">@Html.DisplayFor(modelItem => item.Production_LotDevice)</p></td>
                            }
                            @if (DateTime.Now > item.Production_Date)
                            {
                                <td class="text-center" style="color : red; font-size:smaller;font : bold; vertical-align : middle; width : 50px;">
                                    @Html.DisplayFor(modelItem => item.Production_Date)<br />
                                    @Html.DisplayFor(modelItem => item.Production_Time)
                                </td>
                            }
                            else
                            {
                                <td class="text-center" style="font-size:smaller; vertical-align : middle; width : 50px;">
                                    @Html.DisplayFor(modelItem => item.Production_Date)<br />
                                    @Html.DisplayFor(modelItem => item.Production_Time)
                                </td>
                            }
                            @for (int i = 0; i < 4; i++)
                            {
                                <td class="text-center DeviceName1" style="font-size:smaller; vertical-align : middle; width : 80px;">

                                    @if (item.LotQueue[i].Lot_no != "")
                                    {
                                        @Html.ActionLink(item.LotQueue[i].Lot_no, "", new { id = "Qclick", MCNo = item.MCNo, sq = i + 2, Device = item.DeviceName }, new { @class = "my-class" })
                                       // <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="mdo">Open modal for mdo</button>
                                    }

                                    <p class="@Html.DisplayFor(modelItem => item.LotQueue[i].S_Color)" style="font-size:10px;">

                                        @Html.DisplayFor(modelItem => item.LotQueue[i].DeviceName)
                                    </p>

                                    @*<input type="text" class="form-control" style="display:none; width : 80px; font-size : smaller;" />*@
                                    @*@Html.ActionLink(item.LotQueue[i], "", new { })*@
                                </td>
                            }


                            <td class="text-center" style="font:bold ; vertical-align : middle;">
                                @*@if (item.OverPlan != 0)
                            {
                                @Html.DisplayFor(modelItem => item.OverPlan)
                            }*@
                                @*<i class="Edit" style="color:black;"><a href="javascript:;"></a>Edit</i> @*//btn btn-info  btn-sm*@
                                @*<a class="Update" href="javascript:;" style="display:none">Update</a>
                            <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>*@
                            </td>
                            @*<td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>




<link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Scripts/datatable/dataTables.bootstrap.css" rel="stylesheet" />

@section Scripts
{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/i18n/Thai.json"></script>
    <script src="~/Scripts/select2.min.js"></script>

    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/exporting.js"></script>
    <script src="~/Scripts/export-data.js"></script>
    <script>
        $(document).ready(function () {
            $('#iTable').DataTable({
                "ordering": true,
                "pageLength": 50,
                "filter": true,
                "bFilter": false,
                "bLengthChange": false,
                "scrollCollapse": true,
                "scrollY": "800px",
            });
        });
        $(document).ready(function () {
            $('#WIPTable').DataTable({
                "ordering": true,
                "pageLength": 6,
                "filter": true,
                "bFilter": false,
                "bLengthChange": false,
                "scrollCollapse": true,
                "scrollY": "400px",
            });
        });

        //$(document).ready(function () {
        //    $('#process').select2();
        //    $('#package').select2();
        //    $('#packgegroup').select2();
        //    $('#device').select2();
        //});
    </script>
    
   
    <script language="javascript">
        function strauto() {
            var text = document.getElementById('lot').value;
            var str = new String(text);
            var str = str.toUpperCase();
            document.getElementById('lot').value = str;
        }
    </script>

    <script>

        Highcharts.chart('container', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'FT WIP Data'
  },
  xAxis: {
    categories: ['AUTO1', 'AUTO2', 'AUTO3', 'AUTO4']
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Quantity (Lot.)'
    },
    stackLabels: {
      enabled: true,
      style: {
        fontWeight: 'bold',
        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
      }
    }
  },
  legend: {
    align: 'right',
    x: -30,
    verticalAlign: 'top',
    y: 25,
    floating: true,
    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
    borderColor: '#CCC',
    borderWidth: 1,
    shadow: false
  },
  tooltip: {
    headerFormat: '<b>{point.x} : {point.y} Lot.</b><br/>',
    pointFormat: '{series.name} <br/>Total: {point.stackTotal} Lot.<br/>'
  },
  plotOptions: {
    column: {
      stacking: 'normal',
      dataLabels: {
        enabled: true,
        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
      }
    }
  },
  series: [ @Html.Raw(ViewBag.lstFlow)]
});

    </script>
}
